body{
    margin: 0;
    background-color: #2c2c2c;
}
main{
    perspective: 400px;

    perspective-origin: 50% 100%;
    height: 100vh;
    animation: main-persp 30s infinite ease-in-out;
}
.content{
    position: absolute;
    left: 0;
    top: 100%;
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    color: #ffbc03;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 3px;
    animation: play 30s infinite ease-in-out;
}

@keyframes play {
    from{
        top: 100%;
        transform: translate3d(0, 0, -10px) rotate3d(-1,0,0,-40deg) scale3d(1, 1, 1);
    }

    to{
        top: 0;
        transform: translate3d(0, 0, -250px) rotate3d(-1,0,0, -55deg) scale3d(.6, 3, 1.8);
    }
}
@keyframes main-persp {
    from{
        perspective: 400px;
    }

    to{
        perspective: 900px;
    }
}
